:root{
    --mycolor01:#dec398;
    --mycolor02:#1c3968;
    --mycolor03:#374c6e;
    --mycolor04:#536075;
    --mycolor05:#6f747c;
    --mycolor06:#8a8783;
    --mycolor07:#a69b8a;
    --mycolor08:#6b0b18;

    --textcolor01:#ffffff;
    --textcolor02:#000000;
}